
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;
border-color:#66FFFF;
border-style:solid;
color:#6699FF;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#66FFFF;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#CCFFFF;
}
