
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<span style="font-variant: normal"><font color="#000000"><font face="Arial, Tahoma, Helvetica, sans-serif"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Bu
makalede, çeşitli şehirler için mevcut hava durumunu görüntüleyen
basit bir Django uygulaması oluşturacağız. Mevcut hava durumu
verilerini almak için Açık Hava Durumu Haritası API'sini
kullanacağız.&nbsp;<br/>
<br/>
Uygulamanın basit olmasına rağmen,
bir veritabanı ile çalışacağız ve bir form oluşturacağız,
böylece burada kullanılan kavramlar daha karmaşık projelere
uygulanabilir.&nbsp;<br/>
<br/>
Bu makaledeki kod Python 3 ve Django
2.0 ile yazılmıştır, bu nedenle bu eğiticiyi takip etmek için
her ikisine de biraz aşina olmalısınız. Her ikisine de giriş
yapmak isterseniz, İlk Python'u Oluştur ve Django Uygulaması adlı
makalemize göz atın. Bu makale Django 1.X kullanıyor, ancak tek
farkın URL'lerin nasıl tanımlandığıyla ilgili olduğunu
göreceksiniz.</span></span></span></font></font></font></span></p>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<span style="font-variant: normal"><font color="#000000"><font face="Arial, Tahoma, Helvetica, sans-serif"><font size="2" style="font-size: 10pt"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">İşte
Uygulamamız bittiğinde nasıl görünecek?</span></span></span></font></font></font></span></p>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<br/>

</p>
<div class='pull-left alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="/images/bursa.png" alt="smash" class="img-responsive" width="281px" height="220px"/>
  <p><small>Rage &bull; A poor debugging technique</small></p>
</div>
<br/>
<br/>
