
<!-- Codes by HTML.am -->

<!-- CSS Code -->
<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#FFFFFF;
border-collapse:collapse;border-width:1px;
border-color:#66FFFF;
border-style:solid;
color:#6699FF;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:1px;
border-color:#66FFFF;
border-style:solid;
padding:3px;
}

table.GeneratedTable thead {
background-color:#CCFFFF;
}
</style>

<a> &bull; &bull;</a>
<div class="teaser clearfix"></div>
<p>
<ol>
<li><a href="#accordion-menu">Kurulum</a></li>
<li><a href="#circular-menu">Yönetici Kontrol Paneli</a></li>
<li><a href="#dropdown-menu">Dropdown Menu</a></li>
<li><a href="#fullscreen-menu">Fullscreen Menu</a></li>
<li><a href="#horizontal-menu">Horizontal Menu</a></li>
<li><a href="#mega-menu">Mega Menu</a></li>
<li><a href="#mobile-menu">Mobile Menu</a></li>
<li><a href="#off-canvas-menu">Off-Canvas Menu</a></li>
<li><a href="#sidebar-menu">Sidebar Menu</a></li>
<li><a href="#toggle1-menu">Toggle Menu</a></li>
<li><a href="#sliding-menu">Sliding Menu</a></li>
</ol></p>

<!-- HTML Code -->
<table class="GeneratedTable">
<thead>
<tr>
<th>Şehir</th>
<th>Sıcaklık</th>
<th>Hava</th>
<th>Nem</th>
<th>Rüzgar Hızı</th>
<th>Gün Doğumu</th>
<th>Gün Batımı</th>
</tr>
</thead>
<tbody>
<tr>
<td><span class="weather-place"></span></td>
<td><span class="weather-temperature"></span></td>
<td><span class="weather-description capitalize"></span></td>
<td><span class="weather-humidity"></span></td>
<td><span class="weather-wind-speed"></span></td>
<td><span class="weather-sunrise"></span></td>
<td><span class="weather-sunset"></span></td>
</tr>
</tbody>
</table>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script>
		if (typeof jQuery == 'undefined') {
			document.write(unescape("%3Cscript src='/scripts/jquery.1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
		}
	</script>

	<script src="/scripts/openweather.min.js"></script>

	<script>

		$(function() {

			$('.weather-temperature').openWeather({
				lang: 'tr',
				key: '21ff7887fe67c2f13557f973192685c1',
				city: 'Seferihisar',
				descriptionTarget: '.weather-description',
				windSpeedTarget: '.weather-wind-speed',
				minTemperatureTarget: '.weather-min-temperature',
				maxTemperatureTarget: '.weather-max-temperature',
				humidityTarget: '.weather-humidity',
				sunriseTarget: '.weather-sunrise',
				sunsetTarget: '.weather-sunset',
				placeTarget: '.weather-place',
				iconTarget: '.weather-icon',
				customIcons: '/images/icons/weather/',
				success: function(data) {
					// show weather
					$('.weather-wrapper').show();
					console.log(data);
				},
				error: function(data) {
					console.log(data.error);
					$('.weather-wrapper').remove();
				}
			});

		});

	</script>
<br/>

<p>Bu
makalede, çeşitli şehirler için mevcut hava durumunu görüntüleyen
basit bir Django uygulaması oluşturacağız. Mevcut hava durumu
verilerini almak için Açık Hava Durumu Haritası API'sini
kullanacağız.</p>

<p>Uygulamanın basit olmasına rağmen, bir
veritabanı ile çalışacağız ve bir form oluşturacağız,
böylece burada kullanılan kavramlar daha karmaşık projelere
uygulanabilir.</p>

<p>Bu makaledeki kod Python 3 ve Django 2.0
ile yazılmıştır, bu nedenle bu eğiticiyi takip etmek için her
ikisine de biraz aşina olmalısınız. Her ikisine de giriş yapmak
isterseniz, "İlk Python ve Django Uygulamanızı Oluşturun" adlı
makalemize göz atın. Bu makale Django 1.X kullanıyor, ancak tek
farkın URL'lerin nasıl tanımlandığıyla ilgili olduğunu
göreceksiniz.</p>

<p>İşte
işimiz bittiğinde uygulamamızın benzeyeceği şey buradadır.</p>
<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/bursa.png" alt="programs" class="resize" />
  <p><small>Weather &bull; Bursa</small></p>
</div>


<h2 id="accordion-menu" class="subheader">1. Kurulum</h2><hr/>
<p>Django
kurulumu, başka herhangi bir Python kütüphanesi kurmak gibidir:
sanal bir ortam başlatabilir ve Django’yu kurmak için pip
çalıştırabilir ya da bir proje dizini oluşturabilir, pipenv
çalıştırabilir ve pipenv kabuğunu aktive edebilirsiniz. Her iki
yöntem de işe yarar, fakat bu yazı için pipenv kullanacağım.</p>
<pre>
<code class="language-bash">pipenv install django</code></pre>

<p>&nbsp;</p>
<p>Bu
sizin için en son Django sürümünü yükleyecektir. Bu yazıyı
yazarken, Django 2.1 sürümündedir.
</p>

<p>Django yüklendikten sonra, henüz oluşturmadıysanız, bu proje için bir
dizin oluşturun ve bu dizine gidin. Bir kez orada, Django'nun
projeyi oluşturmanız için verdiği startproject komutunu
çalıştırabilirsiniz.</p>

<pre>
<code class="language-python">django-admin startproject the_weather</code></pre>

<p>&nbsp;</p>
<p>Django
dizininizde birkaç yeni dosya oluşturmuş olmalı.
</p>

<p>Geliştirme
sunucumuzu başlatmayı deneyelim. Bunu yapmak için, yeni dizine
gidin ve terminalinizde runserver komutunu çalıştırmak için
manage.py kullanın:</p>

<div style="background-color:#F5F5F5;color:#DD2C00;padding:20px;">
<span style="font-size: medium;">cd the_weather</span>
<br><span style="font-size: medium;">python manage.py runserver</span>
</div> 

<p>Terminalinize
bakarsanız, uygulamanızın URL'sini görmelisiniz. Varsayılan
olarak 127.0.0.1:8000 olmalıdır.</p>

<p>Tarayıcınızı açın ve bu URL'ye gidin.</p>

<p>Bunu
görürseniz, Django'yu doğru şekilde kurduğunuzu biliyorsunuzdur.
Bunu kesinlikle görmelisiniz çünkü henüz kodu değiştirmeyi
denemedik bile.<br>



<h2 id="circular-menu" class="subheader">2. Yönetici Kontrol Paneli</h2><hr/>


<p>Ardından
Django'nun bize verdiği yönetici kontrol paneline bir göz atmak istiyoruz.
Bunu yapmak için öncelikle veritabanımızı taşımalıyız, bu da
Django'nun varsayılan uygulamalar için gerekli olan önceden
tanımlanmış tabloları oluşturacağı anlamına gelir. Bunu
yapmak için, yalnızca migrate komutunu çalıştırırsınız. CTRL
+ C kullanarak sunucuyu durdurun ve sonra çalıştırın:</p>
<pre><code class="language-python">python manage.py migrate</code></pre>
<p>Bu
komutu çalıştırarak, Django sizin için bir SQLite veritabanı
oluşturdu, ayarlardaki varsayılan veritabanı ve bu veritabanına
birkaç tablo ekledi. Proje dizininizde yeni bir db.sqlite3 dosyası
görüyorsanız, veritabanının oluşturulup oluşturulmadığını
bileceksiniz.</p>

<p>Django tablolarından biri, uygulamamızdaki
herhangi bir kullanıcıyı saklamak için kullanacağımız bir
kullanıcı tablosudur. İnşa ettiğimiz uygulama herhangi bir
kullanıcıya ihtiyaç duymuyor, ancak yönetici kullanıcısına
sahip olmak, yönetici kontrol paneline erişmemize izin
verecek.</p>
<p>Bir yönetici kullanıcısı oluşturmak için,
createuperuser komutunu çalıştırırız.</p>
<pre><code class="language-python">python manage.py runserver</code></pre>


<p>Yönetici
kullanıcınız için bir kullanıcı adı, e-posta adresi ve bir
şifre vererek talimatları izleyin. Bunu bir kere yaptıktan sonra, sunucuyu
yeniden başlatmanız ve yönetici kontrol paneline gitmeniz gerekir.</p>
<pre><code class="language-python">python manage.py createsuperuser</code></pre>

<p>Ardından
127.0.0.1:8000/admin adresine gidin.
</p>

<p>Bu
sayfaya gerçekte gidebilmemizin nedeni, admin adresi, bizim urls.py içinde 
ayarlandığındandır (tebrikler sayfasını görebilmemizin
nedenidir, çünkü kendi URL'lerinizi ekleyene kadar Django'nun size vermesidir)
. 
</p>

<p>Az
önce oluşturduğunuz kullanıcı adı ve şifre ile giriş
yaparsanız, bu sayfayı görmelisiniz.</p>

<p>Gruplar
ve kullanıcılar iki modeli temsil
ediyor. Django bizim erişimimizi sağlar. Modeller sadece bir veritabanı içindeki tabloların kod
gösterimleridir. Django daha fazla tablo oluştursa da, geri
kalanlarına doğrudan erişmeye gerek yoktur, bu nedenle hiçbir
model oluşturulmamıştır.
</p>

<p>'user'
seçeneğini tıklarsanız, kullanıcı tablosu hakkında daha fazla
ayrıntı ve oluşturduğunuz kullanıcıyı
görmelisiniz. Orada ne olup bittiğini anlamak için panodaki farklı
bağlantıları tıklatmanızı tavsiye ederim. Sadece kullanıcınızı
silmemeye dikkatli edin, aksi halde
tekrar createuperuser komutunu çalıştırmanız gerekir.
</p>

<p>Şu
an için yönetici kontrol panelinden ayrılıp kodlara gidelim. Hava
durumu uygulamamız için projemizin içinde bir app
oluşturmanız gerekecek.</p>
<br/>
<p><span style="font-size: medium;"><strong>3. Bir App Oluşturmak</strong></span></p><hr/>

<hr/>
<p>Django'da,
appler kullanarak projenizdeki işlevselliği ayırabilirsiniz.
App adının kafa karıştırıcı bir ad olduğunu düşünüyorum
çünkü bir app den genellikle tüm proje olarak
bahsediyoruz, ancak Django söz konusu olduğunda, app
projenizdeki belirli bir işlev parçasını ifade eder. Örneğin,
settings.py dosyasına bakarsanız, INSTALLED_APPS listesini
göreceksiniz.
</p>

<p>Yüklü
uygulamaların ilki olan django.contrib.admin, yeni kullandığımız
şeydir. Tüm yönetici işlevlerini ve başka hiçbir şeyi ele
almıyor. Varsayılan olarak projemizdeki başka bir uygulama,
yönetici kontrol panelimize giriş yapmamızı sağlayan kimlik
doğrulama gibi şeylerdir.
</p>

<p>Bizim
durumumuzda, hava durumunu göstermekle ilgili her şeyi ele almak
için yeni bir uygulama oluşturmamız gerekiyor. Bu uygulamayı
oluşturmak için, sunucuyu CTRL + C ile durdurun ve çalıştırın:</p>


<div style="background-color:#F5F5F5;color:#0D47A1;padding:20px;">
<span style="font-size: medium;">python manage.py startapp weather</span>
</div> 

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d15.png" alt="programs" class="resize" />
  <p><small>Treee &bull; Django App</small></p>
</div>


<p>Startapp
çalıştırarak, Django, projemize yeni bir dizin ve daha fazla
dosya ekledi.
</p>
<p>En
son oluşturulan dosyalar ile, uygulama dizinimizde urls.py adlı
yeni bir dosya oluşturalım.</p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d1.png" alt="programs" class="resize" />
  <p><small>Weather &bull; urls.py</small></p>
</div>

<p>Bu
dosya, the_weather dizinindeki urls.py'ye benzer. Fark, bu urls.py
dosyasının uygulamanın kendisi ile ilgili olan tüm URL'leri
içermesidir.
</p>

<p>Henüz
bir URL belirtmiyoruz, ancak projemizi uygulamamız ve uygulamanıza
özel tüm URL'leri uygulama urls.py dosyasına yönlendirecek
şekilde projeyi ayarlayabiliriz.
</p>

<p>Önce,
INSTALLED_APPS listesine gidin ve bu uygulamayı listeye ekleyin.</p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d2.png" alt="programs" class="resize" />
  <p><small>Weather &bull; settings.py</small></p>
</div> 
  
<style>
img.resize {
  max-width:100%;
  max-height:100%;
}
</style>
<p>Bu,
Django’yu hava durumu uygulamasını projemizde kullanmak
istediğimizi bilmesini sağlar. Bunu yaparak, Django, geçişleri ve
URL'leri nerede arayacağını bilir.
</p>

<p>Sonraki,
urls.py dosyamızın uygulamasına işaret etmek için orijinal
urls.py dosyasını değiştirmemiz gerekiyor. Bunu yapmak için
yönetici kontrol paneli için mevcut yolun altına bir çizgi
ekliyoruz. Ayrıca, 'url.py' uygulamamıza işaret edebilmek için
'include' i de içe aktarmamız gerekiyor.</p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d3.png" alt="programs" class="resize" />
  <p><small>Weather &bull; urls.py</small></p>
</div> 
<p>Boş
dize, uygulamamızın giriş noktası için bir bitiş noktası
kullanmayacağımız anlamına gelir. Bunun yerine, uygulamanın
belirli bir son noktayla ilgilenmesine izin vereceğiz. Hava durumu
uygulamamızla ilgili herhangi bir şey elde etmek için
127.0.0.1:8000/weather/ yazmamız gerektiği anlamına gelen bir yol
('hava durumu /', ...) gibi kolayca bir şey koyabilirdik. Fakat
projemiz basit olduğundan, burada yapmayacağız.</p>
<br/>

<p><span style="font-size: medium;"><strong>4. Template and View Ekleme</strong></span></p><hr/><hr/>

<p>Şimdi
yapacağımız ilk ilginç şey için. Şablonu projemize eklememiz
gerekiyor.</p>

</b><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Django'daki
bir şablon, şablonu dinamik yapan ekstra sözdizimine izin veren
bir HTML dosyasıdır. Diğer şeylerin yanı sıra değişkenler,
ifadeler ve döngüler eklemek gibi şeyleri yapabileceğiz.</span></span></span></font></span><b><br/>
<br/>
</b><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Başlamak
için, herhangi bir şablon sözdizimi içermeyen bir HTML dosyasına
sahibim, ancak bu bizim başlamamız için yeterli olacaktır.</span></span></span></font></span><b><br/>
<br/>
</b><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Bu
dosyayı koymak için bir şablon dizini oluşturacağız.</span></span></span></font></span></font></font></p>

<table width="100%" cellpadding="4" cellspacing="0">
	<col width="256*"/>

	<tr>
		<td width="100%" valign="top" bgcolor="#f6f9d4" style="background: #f6f9d4" style="border: none; padding: 0cm"><p align="left" style="margin-bottom: 0.5cm">
			<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">cd
			weather</font></font></p>
			<p align="left" style="margin-bottom: 0.5cm"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">mkdir
			templates &amp;&amp; cd templates</font></font></p>
			<p align="left"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">mkdir
			weather</font></font></p>
		</td>
	</tr>
</table>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Ayrıca,
uygulamamızla aynı ada sahip başka bir dizin oluşturduk. Bunu
yaptık çünkü Django, sahip olduğumuz çeşitli uygulamalardan
tüm şablon dizinlerini birleştiriyor. Dosya isimlerinin
çoğaltılmasını önlemek için, kopyaları önlemek amacıyla
uygulamamızın adını kullanabiliriz. </font></font></font>
</p>

<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Hava
dizininin içinde index.html adlı yeni bir dosya oluşturun. Bu
bizim ana şablonumuz olacak. İşte şablon için kullanacağımız
HTML.</span></span></span></font></span></font></font></p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Şimdi
şablonumuzu oluşturduğumuza göre, bunu bir görünüm ve URL
kombinasyonu oluşturalım. </font></font>
</p>
<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d12.png" alt="programs" class="resize" />
  <p><small>Weather &bull; views.py</small></p>
</div> 
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-weight: normal">Django'daki
Görünümler, işlevler veya sınıflardır. Durumumuzda basit bir
görünüm oluşturduğumuzdan, bir işlev oluşturacağız. Bu
işlevi görünümlerinize ekleyin:</span></font></font></p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Kök
URL olan uygulamamızın dizininde olacağından, görünümümüzü
'index' olarak adlandırıyoruz. Şablonun oluşturulmasını
sağlamak için, render işlevi için gerekli olan isteği ve render
etmek istediğimiz şablon dosyasının adını, bu durumda weather /
index.html. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-weight: normal">Bu
görüşe isteği gönderecek olan URL'yi ekleyelim. Uygulamaya ait
urls.py dosyasında, urlpatterns listesini güncelleyin.</span></font></font></p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d5.png" alt="programs" class="resize" />
  <p><small>Weather &bull; urls.py</small></p>
</div>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bu,
yeni oluşturduğumuz görünümü referans almamıza izin veriyor. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Django,
herhangi bir URL'yi bir bitiş noktası olmadan eşleştirecek ve
oluşturduğumuz görüntüleme işlevine yönlendirecektir. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Proje
köküne geri dönün, sunucuyu başlatın ve tekrar 127.0.0.1:8000
adresine gidin.</font></font></p>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">

</p>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="256*"/>

	<tr>
		<td width="100%" valign="top" bgcolor="#f6f9d4" style="background: #f6f9d4" style="border: none; padding: 0cm"><p align="left">
			<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">python
			manage.py runserver</font></font></p>
		</td>
	</tr>
</table>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Şimdi
gördüğümüz sadece index.html dosyasında bulduğunuz HTML'nin
sonucudur. Bir şehir ve Las Vegas'ın hava durumunu eklemek için
bir giriş göreceksiniz. Ancak, form çalışmıyor ve hava durumu
yalnızca bir yer tutucudur, ancak endişelenmeyin, çünkü bu
uygulama için bunları oluşturacağız.</font></font></p>
<br/>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="4" style="font-size: 14pt"><b>5. Weather
API Kullanımı</b></font></font></p><hr/>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Şimdi
yapmak istediğimiz Açık Hava Haritası API'sına kaydolmak. Bu,
uygulamamıza eklediğimiz herhangi bir şehir için gerçek hava
durumunu almamıza izin verecektir. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Siteye
gidin, bir hesap oluşturun ve ardından kontrol panelindeki API
tuşlarına gidin. Bir isim girin ve yeni bir API anahtarı
oluşturun. Bu anahtar hava durumunu almak için API'yı kullanmamıza
izin verecektir.</font></font></p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Kullanacağımız
tek uç nokta aşağıdadır. Bu nedenle, API anahtarınızla
aşağıdaki URL'yi değiştirerek ve tarayıcınızdaki URL’ye
giderek döndürülen gerçek verileri görebilirsiniz. API
anahtarınızın aktif olması birkaç dakika sürebilir, bu nedenle
ilk başta çalışmazsa birkaç dakika sonra tekrar deneyin.</font></font></p>

<table width="100%" cellpadding="4" cellspacing="0">
	<col width="256*"/>

	<tr>
		<td width="100%" valign="top" bgcolor="#f6f9d4" style="background: #f6f9d4" style="border: none; padding: 0cm">
			<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
			<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">http://api.openweathermap.org/data/2.5/weather?q=las%20vegas&amp;units=metric&amp;appid=YOUR_APP_KEY</font></font></font></p>
		</td>
	</tr>
</table>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal">Bununla,
verileri uygulamamıza eklemek için bir istek ekleyelim.</span></span></font></span><br/>
<br/>
<span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal">Önce,
uygulamanızı içinden API’yi çağırabilmek için istekleri
yüklememiz gerekecek.</span></span></font></span></font></font></p>
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">

</p><table width="100%" cellpadding="4" cellspacing="0">
	<col width="256*"/>

	<tr>
		<td width="100%" valign="top" bgcolor="#f6f9d4" style="background: #f6f9d4" style="border: none; padding: 0cm">
			<p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
			<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">pip
			install requests</font></font></font></p>
		</td>
	</tr>
</table>


<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Sahip
olduğumuz URL'ye bir istek göndermek için dizin görünümümüzü
güncelleyelim.</font></font></p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bu
üç satırda, istek gönderecek URL’yi ekliyoruz. Kullanıcıların
kendi şehirlerini ekleyebilmelerine izin verdiğimiz zaman, şehir
için bir yer tutucuyuz. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Şimdilik
şehri Las Vegas olarak ayarlayacağız, ancak daha sonra bu veri
tabanından şehirlere ayarlanacak. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Son
olarak, isteği kullanarak şehri kullanarak URL'ye göndeririz ve o
şehrin JSON temsilini alırız. Bunu konsola yazdırırsak, URL'yi
adres çubuğumuza koyduğumuzda gördüğümüz verilerin aynısını
görebiliriz. </font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Sunucunuzu
yeniden başlatırsanız ve sayfayı yeniden yüklerseniz, verilerin
konsolunuza yazdırıldığını görürsünüz.</font></font></p>
<br/>
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="4" style="font-size: 14pt"><b>6. Şablondaki
Verileri Görüntüleme</b></font></font></font></p><hr/>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Ardından,
verileri kullanıcıya göstermesi için kullanıcıya vermemiz
gerekiyor. </font></font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">İhtiyacımız
olan tüm verileri saklamak için bir sözlük oluşturalım. Bize
gönderilen verilerin temp, açıklama ve ikonuna ihtiyacımız var.</font></font></font></p>

<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Şimdi
istediğimiz tüm bilgiler, bunu şablona aktarabiliriz. Şablona
aktarmak için içerik denen bir değişken oluşturacağız. Bu,
değerlerini şablonun içinde kullanmamıza izin veren bir sözlük
olacaktır.</span></span></span></font></span></font></font></p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Ve
sonra render olarak, içeriği üçüncü argüman olarak
ekleyeceğiz. </font></font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bağlam
içinde eklenen hava durumu verileriyle, verileri eklemek için
şablona gidelim. </font></font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Şablonun
içinde, tek yapmamız gereken, girdiğim değerler yerine
değişkenleri kullanmak için HTML'yi değiştirmektir. Değişkenler
{{}} etiketlerini kullanacak ve içerik sözlüğünüzün içindeki
herhangi bir şeye referans göstereceklerdir. </font></font></font>
</p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Django'nun
sözlük tuşlarını dönüştürdüğünü unutmayın, böylece
sadece nokta notasyonu kullanarak bunlara erişebilirsiniz. Örneğin,
weather.city bize şehir adını verecektir. Python'da yaptığımız
gibi hava ['şehir'] kullanmıyoruz. </font></font></font>
</p>

<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Kutunun
adını bulun ve buna güncelleyin:</span></span></span></font></span></font></font></p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Değiştirilen
tüm değişkenler ile, şimdi şehrimiz için mevcut hava durumunu
görmeliyiz.</font></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Harika!
Şimdi bir şehrin hava durumunu görebiliriz, ama şehri kodlamak
zorunda kaldık. Şimdi yapmak istediğimiz, veritabanından çekip
veritabanımızdaki şehirleri gösteriyor. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bunu
yapmak için, hava durumunu bilmek istediğimiz şehirleri tutmak
için veritabanımızda bir tablo oluşturacağız. Bunun için bir
model oluşturacağız. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Hava
durumu uygulamanızdaki models.py adresine gidin ve aşağıdakileri
ekleyin:</font></font></font></p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d10.png" alt="programs" class="resize" />
  <p><small>Weather &bull; models.py</small></p>
</div>
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bu,
veritabanımızda isim olarak adlandırılan ve şehrin adı olan bir
sütuna sahip bir tablo oluşturacaktır. Bu şehir sadece bir ip
olan bir charfield olacak. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Veritabanındaki
bu değişiklikleri almak için, veritabanını güncellemek ve bu
değişiklikleri uygulamak için geçiş yapmak üzere kod üretmek
için makemigrations komutunu çalıştırmamız gerekir. Şimdi bunu
yapalım.</font></font></font></p>
 
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="256*"/>

	<tr>
		<td width="100%" valign="top" bgcolor="#f6f9d4" style="background: #f6f9d4" style="border: none; padding: 0cm"><p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
			<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">python
manage.py makemigrations</font></font></font></p>
		</td>
	</tr>
</table>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="256*"/>

	<tr>
		<td width="100%" valign="top" bgcolor="#f6f9d4" style="background: #f6f9d4" style="border: none; padding: 0cm"><p align="left" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; orphans: 2; widows: 2">
			<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">python
manage.py migrate</font></font></font></p>
		</td>
	</tr>
</table>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bu
modeli yönetici kontrol panelimizde görebileceğimiz yere yapmamız
gerekiyor. Bunu yapmak için, onu admin.py dosyasına kaydetmeliyiz.</font></font></font></p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d11.png" alt="programs" class="resize" />
  <p><small>Weather &bull; admin.py</small></p>
</div>
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Kenti
yönetici kontrol panelinde bir seçenek olarak görürsünüz.</font></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Daha
sonra yönetici kontrol paneline gidip bazı şehirleri
ekleyebiliriz. Üç ile başlayacağım: Londra, Tokyo ve Las Vegas.</font></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Veritabanındaki
girişlerle, bu girdileri bizim görüşümüzle sorgulamamız
gerekir. Şehir modelini içe aktararak ve ardından bu modeli tüm
nesneler için sorgulayarak başlayın.</span></span></span></font></span></font></font></p>

<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Şehirlerin
listesi olduğundan, bunların üstesinden gelmek ve her biri için
hava durumunu almak ve sonunda şablona geçirilecek bir listeye
eklemek istiyoruz. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bu,
ilk durumda yaptığımızın bir varyasyonudur. Diğer fark ise, her
sözlüğü bir listeye ekliyor ve ekliyoruz. Orijinal şehir
değişkenini döngüdeki bir şehir değişkenine göre kaldırırız.</font></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Cool,
bu yüzden verilere sahibiz. Şimdi, tek bir sözlük yerine bu
listeyi geçmek için içeriği güncelleyelim.</font></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Ardından,
şablonun içinde, bu listeye geçip listedeki her şehir için
HTML'yi oluşturmamız gerekiyor. Bunu yapmak için, şehir için tek
bir kutu oluşturan HTML'nin etrafında bir döngü oluşturabiliriz.</span></span></span></font></span></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Korku
veren! Şimdi veritabanında sahip olduğumuz tüm şehirlerin
verilerini görebiliyoruz.</font></font></font></p>
<br/> 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="4" style="font-size: 14pt"><b>7. Formu
Oluşturmak</b></font></font></font></p><hr/>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Yapmak
istediğimiz son şey, kullanıcının doğrudan formda bir kullanıcı
eklemesine izin vermektir. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bunu
yapmak için bir form oluşturmamız gerekiyor. Formu doğrudan
oluşturabiliriz, ancak formumuz modelimizle tam olarak aynı alana
sahip olacağından, bir ModelForm kullanabiliriz. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Forms.py
adlı yeni bir dosya oluşturun.</font></font></font></p>

<div class='pull-right alert alert-warning' style="margin: 15px; text-align: center;">
  <img src="{{ site.baseurl }}/images/d13.png" alt="programs" class="resize" />
  <p><small>Weather &bull; forms.py</small></p>
</div>
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Formu
görmek için, bunu kendi görünümünde oluşturmalı ve şablona
aktarmalıyız. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Bunu
yapmak için, formu oluşturmak için dizin videosunu güncelleyelim.
Artık ihtiyacımız olmadığından eski şehir değişkenini aynı
anda değiştireceğiz. Ayrıca, formun şablona geçirilmesi için
içeriği güncellememiz gerekir.</span></span></span></font></span></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">Şimdi
şablonda, görünümünden formu kullanmak için form bölümünü
ve Django'daki POST istekleri için gerekli olan bir csrf_token'i
güncelleyelim.</span></span></span></font></span></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
<font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt"><span style="font-variant: normal"><font color="#000000"><span style="letter-spacing: normal"><span style="font-style: normal"><span style="font-weight: normal">HTML
çalışmamızdaki form ile birlikte, form verilerini geldiğinde ele
almamız gerekiyor. Bunun için, bir POST isteğini kontrol eden bir
blok oluşturuyoruz. Hava durumu verilerini yakalamaya başlamadan
önce, istek türüne ilişkin kontrolleri eklememiz gerekiyor.
Böylece, eklediğimiz şehir için verileri hemen alıyoruz.</span></span></span></font></span></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Request.POST
ileterek, form verilerini doğrulayabileceğiz. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Artık
bir şehrin adını yazabilmeniz, eklemeyi tıklayabileceğinizi ve
görebildiğinizi görebilmeniz gerekir. Miami'yi bir sonraki şehir
olarak ekleyeceğim.</font></font></font></p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Eğer
bloktan çıkarsak, form yeniden oluşturulur, böylece seçersek
başka bir şehir ekleyebiliriz. Kodun geri kalanı aynı şekilde
davranacaktır.</font></font></font></p>
<br/> 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="4" style="font-size: 14pt"><b>Sonuç</b></font></font></font></p><hr/>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Ve
bu kadar! Uygulamamızdaki birden çok şehir için hava durumunu
takip etmenin bir yolunu şimdi sunuyoruz. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Bu
yazıda, bu çalışmayı elde etmek için çeşitli Django
parçalarıyla çalışmak zorunda kaldık: görüşler, modeller,
formlar ve şablonlar. Ayrıca gerçek hava durumu verilerini almak
için Python kitaplık isteklerini kullanmak zorunda kaldık. Bu
nedenle, uygulama basit olsa da, uygulamalarda aynı kavramların
çoğunu daha karmaşık bir şekilde kullanacaksınız. </font></font></font>
</p>
 
<p align="left" style="margin-bottom: 0cm; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; orphans: 2; widows: 2">
<font color="#000000"><font face="Clear Sans Thin, sans-serif"><font size="3" style="font-size: 12pt">Django,
modellerinin tartışmasız en önemli parçası hakkında daha fazla
bilgi edinmek isterseniz, Django Database Essentials adlı ücretsiz
kursuma katılabilirsiniz.</font></font></font></p>
