<br>
<h2><i class="fas fa-tags"></i> &nbsp;  Tag Cloud</h2>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
  <a href="{{ site.baseurl }}/tag/{{ tagname }}" style="text-decoration: none"><code class="highligher-rouge"><nobr>{{ tagname }}</nobr></code></a> &nbsp;
{% endfor %}

<ul class="tag-cloud">
{% for tag in site.tags %}
  <span style="font-size: {{ tag | last | size | times: 70 | divided_by: site.tags.size | plus: 100  }}%">
    <a href="#{{ tag | first | slugize }}" style="text-decoration: none">
      {{ tag | first }}
    </a> &nbsp;&nbsp;
  </span>
{% endfor %}
</ul>
