<table>
<thead>
<tr>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
<th style="text-align:left"></th>
<th style="text-align:left"></th>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">comprehend</td>
<td style="text-align:left"></td>
<td style="text-align:left">bir konuyu kavramak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">disappoint</td>
<td style="text-align:left"></td>
<td style="text-align:left">hayal kırıklığı yaşatmak</td>
</tr>
<tr>
<td style="text-align:left">trick</td>
<td style="text-align:left"></td>
<td style="text-align:left">hile, aldatmaca</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">complaint</td>
<td style="text-align:left"></td>
<td style="text-align:left">yakınma</td>
</tr>
<tr>
<td style="text-align:left">stroll</td>
<td style="text-align:left"></td>
<td style="text-align:left">gezinti</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">debate</td>
<td style="text-align:left"></td>
<td style="text-align:left">münazara</td>
</tr>
<tr>
<td style="text-align:left">agree</td>
<td style="text-align:left"></td>
<td style="text-align:left">hemfikir olmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">familiar</td>
<td style="text-align:left"></td>
<td style="text-align:left">alışıldık</td>
</tr>
<tr>
<td style="text-align:left">absence</td>
<td style="text-align:left"></td>
<td style="text-align:left">yitiklik</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">hum(along)</td>
<td style="text-align:left"></td>
<td style="text-align:left">mırıldanmak</td>
</tr>
<tr>
<td style="text-align:left">afraid</td>
<td style="text-align:left"></td>
<td style="text-align:left">-den ürkmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">please</td>
<td style="text-align:left"></td>
<td style="text-align:left">hoşnut etmek</td>
</tr>
<tr>
<td style="text-align:left">angry</td>
<td style="text-align:left"></td>
<td style="text-align:left">kızgın</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">give</td>
<td style="text-align:left"></td>
<td style="text-align:left">bahşetmek</td>
</tr>
<tr>
<td style="text-align:left">arrive</td>
<td style="text-align:left"></td>
<td style="text-align:left">varmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">involve</td>
<td style="text-align:left"></td>
<td style="text-align:left">yol açmak</td>
</tr>
<tr>
<td style="text-align:left">attack</td>
<td style="text-align:left"></td>
<td style="text-align:left">hücum</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">common</td>
<td style="text-align:left"></td>
<td style="text-align:left">müşterek umumi</td>
</tr>
<tr>
<td style="text-align:left">bottom</td>
<td style="text-align:left"></td>
<td style="text-align:left">taban</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">free</td>
<td style="text-align:left"></td>
<td style="text-align:left">muaf</td>
</tr>
<tr>
<td style="text-align:left">clever</td>
<td style="text-align:left"></td>
<td style="text-align:left">becerikli</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">appealing</td>
<td style="text-align:left"></td>
<td style="text-align:left">sempatik</td>
</tr>
<tr>
<td style="text-align:left">cruel</td>
<td style="text-align:left"></td>
<td style="text-align:left">insafsız</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">waste</td>
<td style="text-align:left"></td>
<td style="text-align:left">heba etmek, atık</td>
</tr>
<tr>
<td style="text-align:left">finally</td>
<td style="text-align:left"></td>
<td style="text-align:left">nihayet</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">easy</td>
<td style="text-align:left"></td>
<td style="text-align:left">doğal</td>
</tr>
<tr>
<td style="text-align:left">hide</td>
<td style="text-align:left"></td>
<td style="text-align:left">gizlemek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">assess</td>
<td style="text-align:left"></td>
<td style="text-align:left">kıymet takdir etmek</td>
</tr>
<tr>
<td style="text-align:left">appealing</td>
<td style="text-align:left"></td>
<td style="text-align:left">sempatik</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">price</td>
<td style="text-align:left"></td>
<td style="text-align:left">bedel, eder</td>
</tr>
<tr>
<td style="text-align:left">attract</td>
<td style="text-align:left"></td>
<td style="text-align:left">cezbetmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">cost</td>
<td style="text-align:left"></td>
<td style="text-align:left">mal olmak</td>
</tr>
<tr>
<td style="text-align:left">audit</td>
<td style="text-align:left"></td>
<td style="text-align:left">incelemek,kontrol etmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">store</td>
<td style="text-align:left"></td>
<td style="text-align:left">saklama</td>
</tr>
<tr>
<td style="text-align:left">capture</td>
<td style="text-align:left"></td>
<td style="text-align:left">tutmak, zapt etmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">harm</td>
<td style="text-align:left"></td>
<td style="text-align:left">zararı dokunmak</td>
</tr>
<tr>
<td style="text-align:left">chore</td>
<td style="text-align:left"></td>
<td style="text-align:left">zevksiz iş</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">call</td>
<td style="text-align:left"></td>
<td style="text-align:left">haykırmak</td>
</tr>
<tr>
<td style="text-align:left">guess</td>
<td style="text-align:left"></td>
<td style="text-align:left">varsayım</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">fare</td>
<td style="text-align:left"></td>
<td style="text-align:left">tarife</td>
</tr>
<tr>
<td style="text-align:left">humor</td>
<td style="text-align:left"></td>
<td style="text-align:left">nüktedanlık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">get</td>
<td style="text-align:left"></td>
<td style="text-align:left">çekip almak</td>
</tr>
<tr>
<td style="text-align:left">intuitively</td>
<td style="text-align:left"></td>
<td style="text-align:left">öngörüyle</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">take</td>
<td style="text-align:left"></td>
<td style="text-align:left">eline almak</td>
</tr>
<tr>
<td style="text-align:left">painstaking</td>
<td style="text-align:left"></td>
<td style="text-align:left">özenli,itinalı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">consume</td>
<td style="text-align:left"></td>
<td style="text-align:left">yiyip bitirmek</td>
</tr>
<tr>
<td style="text-align:left">probably</td>
<td style="text-align:left"></td>
<td style="text-align:left">herhalde</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">get along</td>
<td style="text-align:left"></td>
<td style="text-align:left">uyuşmak</td>
</tr>
<tr>
<td style="text-align:left">process</td>
<td style="text-align:left"></td>
<td style="text-align:left">ameliye</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">assume</td>
<td style="text-align:left"></td>
<td style="text-align:left">yakıştırmak</td>
</tr>
<tr>
<td style="text-align:left">sense</td>
<td style="text-align:left"></td>
<td style="text-align:left">sezmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">fit</td>
<td style="text-align:left"></td>
<td style="text-align:left">çelişmemek</td>
</tr>
<tr>
<td style="text-align:left">tantalizing</td>
<td style="text-align:left"></td>
<td style="text-align:left">baştan çıkarıcı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">charge</td>
<td style="text-align:left"></td>
<td style="text-align:left">geçirmek (bir masrafı birinin hesabına)</td>
</tr>
<tr>
<td style="text-align:left">tempting</td>
<td style="text-align:left"></td>
<td style="text-align:left">çok cazip</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">aware</td>
<td style="text-align:left"></td>
<td style="text-align:left">bilinçli</td>
</tr>
<tr>
<td style="text-align:left">thorough</td>
<td style="text-align:left"></td>
<td style="text-align:left">dikkatli, kapsamlı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">well</td>
<td style="text-align:left"></td>
<td style="text-align:left">oldukça iyi</td>
</tr>
</tbody>
</table>

