<table>
<thead>
<tr>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
<th style="text-align:left"></th>
<th style="text-align:left"></th>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">in a bad way</td>
<td style="text-align:left"></td>
<td style="text-align:left">kötü bir durumda</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">adventure</td>
<td style="text-align:left"></td>
<td style="text-align:left">riske atmak, macera</td>
</tr>
<tr>
<td style="text-align:left">effort</td>
<td style="text-align:left"></td>
<td style="text-align:left">cehd</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">approach</td>
<td style="text-align:left"></td>
<td style="text-align:left">yaklaşım</td>
</tr>
<tr>
<td style="text-align:left">situation</td>
<td style="text-align:left"></td>
<td style="text-align:left">vaziyet</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">study</td>
<td style="text-align:left"></td>
<td style="text-align:left">irdelemek</td>
</tr>
<tr>
<td style="text-align:left">example</td>
<td style="text-align:left"></td>
<td style="text-align:left">numune</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">instance</td>
<td style="text-align:left"></td>
<td style="text-align:left">örnek(aşama)</td>
</tr>
<tr>
<td style="text-align:left">thought/</td>
<td style="text-align:left"></td>
<td style="text-align:left">düşünce</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">judgment/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yargılama</td>
</tr>
<tr>
<td style="text-align:left">pen pal/</td>
<td style="text-align:left"></td>
<td style="text-align:left">-mektup arkadaşı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">derived/</td>
<td style="text-align:left"></td>
<td style="text-align:left">türetmek</td>
</tr>
<tr>
<td style="text-align:left">feel/</td>
<td style="text-align:left"></td>
<td style="text-align:left">kızgın</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">perceive/</td>
<td style="text-align:left"></td>
<td style="text-align:left">algılamak</td>
</tr>
<tr>
<td style="text-align:left">sentence</td>
<td style="text-align:left"></td>
<td style="text-align:left">hüküm</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">refer/</td>
<td style="text-align:left"></td>
<td style="text-align:left">ima etmek</td>
</tr>
<tr>
<td style="text-align:left">placement/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerleştirme</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">put</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerleştirmek, koyulmak</td>
</tr>
<tr>
<td style="text-align:left">perform/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerine getirmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/carry out/</td>
<td style="text-align:left"></td>
<td style="text-align:left">gerçekleştirmek</td>
</tr>
<tr>
<td style="text-align:left">might(modal)</td>
<td style="text-align:left"></td>
<td style="text-align:left">fiilen gerçekleşmeyen kuramsal durumlar</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">might/</td>
<td style="text-align:left"></td>
<td style="text-align:left">geçici olarak izin istemek</td>
</tr>
<tr>
<td style="text-align:left">may(modal)</td>
<td style="text-align:left"></td>
<td style="text-align:left">mümkün olan olgusal durumlar</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">may/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yapmadan önce olan bir şeyi kabul etmek</td>
</tr>
<tr>
<td style="text-align:left">make</td>
<td style="text-align:left"></td>
<td style="text-align:left">meydana getirmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">chase</td>
<td style="text-align:left"></td>
<td style="text-align:left">peşine düşmek</td>
</tr>
<tr>
<td style="text-align:left">tag</td>
<td style="text-align:left"></td>
<td style="text-align:left">yafta, künye</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">have</td>
<td style="text-align:left"></td>
<td style="text-align:left">malik olmak, haiz olmak</td>
</tr>
<tr>
<td style="text-align:left">/appear/</td>
<td style="text-align:left"></td>
<td style="text-align:left">görünmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/range/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sıralı olmak</td>
</tr>
<tr>
<td style="text-align:left">/dense/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/cluster/</td>
<td style="text-align:left"></td>
<td style="text-align:left">hevenk</td>
</tr>
<tr>
<td style="text-align:left">associate</td>
<td style="text-align:left"></td>
<td style="text-align:left">bağdaştırmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">by which</td>
<td style="text-align:left"></td>
<td style="text-align:left">-e neden olan</td>
</tr>
<tr>
<td style="text-align:left">go about</td>
<td style="text-align:left"></td>
<td style="text-align:left">başlamak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">harm</td>
<td style="text-align:left"></td>
<td style="text-align:left">zararı dokunmak</td>
</tr>
<tr>
<td style="text-align:left">chore</td>
<td style="text-align:left"></td>
<td style="text-align:left">zevksiz iş</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">call</td>
<td style="text-align:left"></td>
<td style="text-align:left">haykırmak</td>
</tr>
<tr>
<td style="text-align:left">guess</td>
<td style="text-align:left"></td>
<td style="text-align:left">varsayım</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">fare</td>
<td style="text-align:left"></td>
<td style="text-align:left">tarife</td>
</tr>
<tr>
<td style="text-align:left">humor</td>
<td style="text-align:left"></td>
<td style="text-align:left">nüktedanlık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">get</td>
<td style="text-align:left"></td>
<td style="text-align:left">çekip almak</td>
</tr>
<tr>
<td style="text-align:left">intuitively</td>
<td style="text-align:left"></td>
<td style="text-align:left">öngörüyle</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">take</td>
<td style="text-align:left"></td>
<td style="text-align:left">eline almak</td>
</tr>
<tr>
<td style="text-align:left">painstaking</td>
<td style="text-align:left"></td>
<td style="text-align:left">özenli,itinalı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">consume</td>
<td style="text-align:left"></td>
<td style="text-align:left">yiyip bitirmek</td>
</tr>
<tr>
<td style="text-align:left">probably</td>
<td style="text-align:left"></td>
<td style="text-align:left">herhalde</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">get along</td>
<td style="text-align:left"></td>
<td style="text-align:left">uyuşmak</td>
</tr>
<tr>
<td style="text-align:left">process</td>
<td style="text-align:left"></td>
<td style="text-align:left">ameliye</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">assume</td>
<td style="text-align:left"></td>
<td style="text-align:left">yakıştırmak</td>
</tr>
<tr>
<td style="text-align:left">sense</td>
<td style="text-align:left"></td>
<td style="text-align:left">sezmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">fit</td>
<td style="text-align:left"></td>
<td style="text-align:left">çelişmemek</td>
</tr>
<tr>
<td style="text-align:left">tantalizing</td>
<td style="text-align:left"></td>
<td style="text-align:left">baştan çıkarıcı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">charge</td>
<td style="text-align:left"></td>
<td style="text-align:left">geçirmek (bir masrafı birinin hesabına)</td>
</tr>
<tr>
<td style="text-align:left">tempting</td>
<td style="text-align:left"></td>
<td style="text-align:left">çok cazip</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">aware</td>
<td style="text-align:left"></td>
<td style="text-align:left">bilinçli</td>
</tr>
<tr>
<td style="text-align:left">thorough</td>
<td style="text-align:left"></td>
<td style="text-align:left">dikkatli, kapsamlı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">well</td>
<td style="text-align:left"></td>
<td style="text-align:left">oldukça iyi</td>
</tr>
</tbody>
</table>

