<table>
<thead>
<tr>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
<th style="text-align:left"></th>
<th style="text-align:left"></th>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">racism</td>
<td style="text-align:left"></td>
<td style="text-align:left">ırkçılık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">famine</td>
<td style="text-align:left"></td>
<td style="text-align:left">yokluk, kıtlık</td>
</tr>
<tr>
<td style="text-align:left">corruption</td>
<td style="text-align:left"></td>
<td style="text-align:left">yolsuzluk, rüşvetçilik</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">globalization</td>
<td style="text-align:left"></td>
<td style="text-align:left">küreselleşme</td>
</tr>
<tr>
<td style="text-align:left">refugees </td>
<td style="text-align:left"></td>
<td style="text-align:left">mülteciler</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/talk/</td>
<td style="text-align:left"></td>
<td style="text-align:left">müzakere</td>
</tr>
<tr>
<td style="text-align:left">/in pairs/</td>
<td style="text-align:left"></td>
<td style="text-align:left">çiftler halinde</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/coward/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yüreksiz</td>
</tr>
<tr>
<td style="text-align:left">/failure/</td>
<td style="text-align:left"></td>
<td style="text-align:left">başarısızlık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/applaud/</td>
<td style="text-align:left"></td>
<td style="text-align:left">el çırpmak</td>
</tr>
<tr>
<td style="text-align:left">/cheer/</td>
<td style="text-align:left"></td>
<td style="text-align:left">-sevinçle bağırmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">v/associate/</td>
<td style="text-align:left"></td>
<td style="text-align:left">ilişkilendirmek</td>
</tr>
<tr>
<td style="text-align:left">compassion</td>
<td style="text-align:left"></td>
<td style="text-align:left">şefkat, acıma</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/common sense/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sağduyu, ortak akıl</td>
</tr>
<tr>
<td style="text-align:left">/invest/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yatırım yapmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">hit out/</td>
<td style="text-align:left"></td>
<td style="text-align:left">şiddetle eleştirmek</td>
</tr>
<tr>
<td style="text-align:left">major/</td>
<td style="text-align:left"></td>
<td style="text-align:left">önemli</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">fence</td>
<td style="text-align:left"></td>
<td style="text-align:left">çit, engel</td>
</tr>
<tr>
<td style="text-align:left">perform/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerine getirmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/carry out/</td>
<td style="text-align:left"></td>
<td style="text-align:left">gerçekleştirmek</td>
</tr>
<tr>
<td style="text-align:left">might(modal)</td>
<td style="text-align:left"></td>
<td style="text-align:left">fiilen gerçekleşmeyen kuramsal durumlar</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">might/</td>
<td style="text-align:left"></td>
<td style="text-align:left">geçici olarak izin istemek</td>
</tr>
<tr>
<td style="text-align:left">may(modal)</td>
<td style="text-align:left"></td>
<td style="text-align:left">mümkün olan olgusal durumlar</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">may/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yapmadan önce olan bir şeyi kabul etmek</td>
</tr>
<tr>
<td style="text-align:left">make</td>
<td style="text-align:left"></td>
<td style="text-align:left">meydana getirmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">chase</td>
<td style="text-align:left"></td>
<td style="text-align:left">peşine düşmek</td>
</tr>
<tr>
<td style="text-align:left">tag</td>
<td style="text-align:left"></td>
<td style="text-align:left">yafta, künye</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">have</td>
<td style="text-align:left"></td>
<td style="text-align:left">malik olmak, haiz olmak</td>
</tr>
<tr>
<td style="text-align:left">/appear/</td>
<td style="text-align:left"></td>
<td style="text-align:left">görünmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/range/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sıralı olmak</td>
</tr>
<tr>
<td style="text-align:left">/dense/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/cluster/</td>
<td style="text-align:left"></td>
<td style="text-align:left">hevenk</td>
</tr>
<tr>
<td style="text-align:left">associate</td>
<td style="text-align:left"></td>
<td style="text-align:left">bağdaştırmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/by which/</td>
<td style="text-align:left"></td>
<td style="text-align:left">-e neden olan</td>
</tr>
<tr>
<td style="text-align:left">/go about/</td>
<td style="text-align:left"></td>
<td style="text-align:left">başlamak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/means/</td>
<td style="text-align:left"></td>
<td style="text-align:left">vesile</td>
</tr>
<tr>
<td style="text-align:left">/closet/</td>
<td style="text-align:left"></td>
<td style="text-align:left">dolap</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/shove/</td>
<td style="text-align:left"></td>
<td style="text-align:left">tıkıştırmak</td>
</tr>
<tr>
<td style="text-align:left">way</td>
<td style="text-align:left"></td>
<td style="text-align:left">yöntem, davranış tarzı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/although/</td>
<td style="text-align:left"></td>
<td style="text-align:left">rağmen</td>
</tr>
<tr>
<td style="text-align:left">hunt</td>
<td style="text-align:left"></td>
<td style="text-align:left">aramak, araştırmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">search </td>
<td style="text-align:left"></td>
<td style="text-align:left">araştırmak, arayış</td>
</tr>
<tr>
<td style="text-align:left">/Even though/</td>
<td style="text-align:left"></td>
<td style="text-align:left">Buna rağmen</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">confused</td>
<td style="text-align:left"></td>
<td style="text-align:left">aklı karışmış</td>
</tr>
<tr>
<td style="text-align:left">/impossibly/</td>
<td style="text-align:left"></td>
<td style="text-align:left">imkansız bir şekilde</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/show up/</td>
<td style="text-align:left"></td>
<td style="text-align:left">boy göstermek</td>
</tr>
<tr>
<td style="text-align:left">/spoil/</td>
<td style="text-align:left"></td>
<td style="text-align:left">bozulmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/onto/</td>
<td style="text-align:left"></td>
<td style="text-align:left">üzerine</td>
</tr>
<tr>
<td style="text-align:left">keep</td>
<td style="text-align:left"></td>
<td style="text-align:left">bakım yapıp saklamak , zarardan korumak, sürdürmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">feel</td>
<td style="text-align:left"></td>
<td style="text-align:left">duygu, his (bir şeyin dokununca uyandırdığı)</td>
</tr>
<tr>
<td style="text-align:left">sense</td>
<td style="text-align:left"></td>
<td style="text-align:left">sezmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/to be aware of/</td>
<td style="text-align:left"></td>
<td style="text-align:left">farkında olmak</td>
</tr>
<tr>
<td style="text-align:left">/awareness/</td>
<td style="text-align:left"></td>
<td style="text-align:left">farkında olma</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/property/</td>
<td style="text-align:left"></td>
<td style="text-align:left">özellik</td>
</tr>
<tr>
<td style="text-align:left">tempting</td>
<td style="text-align:left"></td>
<td style="text-align:left">çok cazip</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">aware</td>
<td style="text-align:left"></td>
<td style="text-align:left">bilinçli</td>
</tr>
<tr>
<td style="text-align:left">thorough</td>
<td style="text-align:left"></td>
<td style="text-align:left">dikkatli, kapsamlı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">well</td>
<td style="text-align:left"></td>
<td style="text-align:left">oldukça iyi</td>
</tr>
</tbody>
</table>

