
<html>
<head>
    <title>Editable table in HTML5</title>
    <meta charset="utf-8"> 
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <style type="text/css">
    #mytable {
        margin: 0 auto;
        width: 60%;
        position: relative;
    }

    .glyphicon {
        font-size: 20px;
    }

    .add-row {
        color: #32CD32;
    }

    .add-row:hover {
        color: #228B22;
    }

    .delete-row {
        color: #FF0000;
    }

    .delete-row:hover {
        color: #B22222;
    }
    </style>
</head>
<body>
<div id="mytable">
    <table class="table table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th><span class="add-row glyphicon glyphicon-plus"></span></th>
        </tr>
        <tr>
            <td contenteditable="true">Kim</td>
            <td contenteditable="true">Bell</td>
            <td contenteditable="true">Senior Analyst</td>
            <td><span class="delete-row glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td contenteditable="true">Laurence</td>
            <td contenteditable="true">Peter</td>
            <td contenteditable="true">Technical Assistant</td>
            <td><span class="delete-row glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr>
            <td contenteditable="true">Joe</td>
            <td contenteditable="true">Franklin</td>
            <td contenteditable="true">Accountant</td>
            <td><span class="delete-row glyphicon glyphicon-remove"></span></td>
        </tr>
        <!-- hidden row -->
        <tr class="hidden">
            <td contenteditable="true">NIL</td>
            <td contenteditable="true">NIL</td>
            <td contenteditable="true">NIL</td>
            <td><span class="delete-row glyphicon glyphicon-remove"></span></td>
        </tr>
    </table>
</div>
<script
  src="https://code.jquery.com/jquery-1.10.2.min.js"
  integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
  crossorigin="anonymous"></script>
$(document).ready(function() {
    // function to add row
    $('.add-row').click(function () {
        var $row = $('#mytable').find('tr.hidden').clone(true).removeClass('hidden');
        $('#mytable').find('table').append($row);
    });

    // function to remove row
    $('.delete-row').click(function () {
        $(this).parents('tr').detach();
    });
});
</script>
</body>
</html>
