<table>
<thead>
<tr>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
<th style="text-align:left"></th>
<th style="text-align:left"></th>
<th style="text-align:left">English Words</th>
<th style="text-align:left"></th>
<th style="text-align:left">Turkish Meanings</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">in a bad way</td>
<td style="text-align:left"></td>
<td style="text-align:left">kötü bir durumda</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">adventure</td>
<td style="text-align:left"></td>
<td style="text-align:left">riske atmak, macera</td>
</tr>
<tr>
<td style="text-align:left">effort</td>
<td style="text-align:left"></td>
<td style="text-align:left">cehd</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">approach</td>
<td style="text-align:left"></td>
<td style="text-align:left">yaklaşım</td>
</tr>
<tr>
<td style="text-align:left">situation</td>
<td style="text-align:left"></td>
<td style="text-align:left">vaziyet</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">study</td>
<td style="text-align:left"></td>
<td style="text-align:left">irdelemek</td>
</tr>
<tr>
<td style="text-align:left">example</td>
<td style="text-align:left"></td>
<td style="text-align:left">numune</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">instance</td>
<td style="text-align:left"></td>
<td style="text-align:left">örnek(aşama)</td>
</tr>
<tr>
<td style="text-align:left">thought</td>
<td style="text-align:left"></td>
<td style="text-align:left">tefekkür, görüş</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">judgment</td>
<td style="text-align:left"></td>
<td style="text-align:left">muhakeme</td>
</tr>
<tr>
<td style="text-align:left">pen pal/</td>
<td style="text-align:left"></td>
<td style="text-align:left">-mektup arkadaşı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">derived/</td>
<td style="text-align:left"></td>
<td style="text-align:left">türetmek</td>
</tr>
<tr>
<td style="text-align:left">feel/</td>
<td style="text-align:left"></td>
<td style="text-align:left">kızgın</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">perceive/</td>
<td style="text-align:left"></td>
<td style="text-align:left">algılamak</td>
</tr>
<tr>
<td style="text-align:left">sentence</td>
<td style="text-align:left"></td>
<td style="text-align:left">hüküm</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">refer/</td>
<td style="text-align:left"></td>
<td style="text-align:left">ima etmek</td>
</tr>
<tr>
<td style="text-align:left">placement/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerleştirme</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">put</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerleştirmek, koyulmak</td>
</tr>
<tr>
<td style="text-align:left">perform/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yerine getirmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/carry out/</td>
<td style="text-align:left"></td>
<td style="text-align:left">gerçekleştirmek</td>
</tr>
<tr>
<td style="text-align:left">might(modal)</td>
<td style="text-align:left"></td>
<td style="text-align:left">fiilen gerçekleşmeyen kuramsal durumlar</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">might/</td>
<td style="text-align:left"></td>
<td style="text-align:left">geçici olarak izin istemek</td>
</tr>
<tr>
<td style="text-align:left">may(modal)</td>
<td style="text-align:left"></td>
<td style="text-align:left">mümkün olan olgusal durumlar</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">may/</td>
<td style="text-align:left"></td>
<td style="text-align:left">yapmadan önce olan bir şeyi kabul etmek</td>
</tr>
<tr>
<td style="text-align:left">make</td>
<td style="text-align:left"></td>
<td style="text-align:left">meydana getirmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">chase</td>
<td style="text-align:left"></td>
<td style="text-align:left">peşine düşmek</td>
</tr>
<tr>
<td style="text-align:left">tag</td>
<td style="text-align:left"></td>
<td style="text-align:left">yafta, künye</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">have</td>
<td style="text-align:left"></td>
<td style="text-align:left">malik olmak, haiz olmak</td>
</tr>
<tr>
<td style="text-align:left">/appear/</td>
<td style="text-align:left"></td>
<td style="text-align:left">görünmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/range/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sıralı olmak</td>
</tr>
<tr>
<td style="text-align:left">/dense/</td>
<td style="text-align:left"></td>
<td style="text-align:left">sık</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/cluster/</td>
<td style="text-align:left"></td>
<td style="text-align:left">hevenk</td>
</tr>
<tr>
<td style="text-align:left">associate</td>
<td style="text-align:left"></td>
<td style="text-align:left">bağdaştırmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/by which/</td>
<td style="text-align:left"></td>
<td style="text-align:left">-e neden olan</td>
</tr>
<tr>
<td style="text-align:left">/go about/</td>
<td style="text-align:left"></td>
<td style="text-align:left">başlamak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/means/</td>
<td style="text-align:left"></td>
<td style="text-align:left">vesile</td>
</tr>
<tr>
<td style="text-align:left">/closet/</td>
<td style="text-align:left"></td>
<td style="text-align:left">dolap</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/shove/</td>
<td style="text-align:left"></td>
<td style="text-align:left">tıkıştırmak</td>
</tr>
<tr>
<td style="text-align:left">way</td>
<td style="text-align:left"></td>
<td style="text-align:left">yöntem, davranış tarzı</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/although/</td>
<td style="text-align:left"></td>
<td style="text-align:left">rağmen</td>
</tr>
<tr>
<td style="text-align:left">hunt</td>
<td style="text-align:left"></td>
<td style="text-align:left">aramak, araştırmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">search </td>
<td style="text-align:left"></td>
<td style="text-align:left">araştırmak, arayış</td>
</tr>
<tr>
<td style="text-align:left">/Even though/</td>
<td style="text-align:left"></td>
<td style="text-align:left">Buna rağmen</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">confused</td>
<td style="text-align:left"></td>
<td style="text-align:left">aklı karışmış</td>
</tr>
<tr>
<td style="text-align:left">/impossibly/</td>
<td style="text-align:left"></td>
<td style="text-align:left">imkansız bir şekilde</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/show up/</td>
<td style="text-align:left"></td>
<td style="text-align:left">boy göstermek</td>
</tr>
<tr>
<td style="text-align:left">/spoil/</td>
<td style="text-align:left"></td>
<td style="text-align:left">bozulmak</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/onto/</td>
<td style="text-align:left"></td>
<td style="text-align:left">üzerine</td>
</tr>
<tr>
<td style="text-align:left">keep</td>
<td style="text-align:left"></td>
<td style="text-align:left">bakım yapıp saklamak , zarardan korumak, sürdürmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">feel</td>
<td style="text-align:left"></td>
<td style="text-align:left">duygu, his (bir şeyin dokununca uyandırdığı)</td>
</tr>
<tr>
<td style="text-align:left">sense</td>
<td style="text-align:left"></td>
<td style="text-align:left">sezmek</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/to be aware of/</td>
<td style="text-align:left"></td>
<td style="text-align:left">farkında olmak</td>
</tr>
<tr>
<td style="text-align:left">/awareness/</td>
<td style="text-align:left"></td>
<td style="text-align:left">farkında olma</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">/property/</td>
<td style="text-align:left"></td>
<td style="text-align:left">özellik</td>
</tr>
<tr>
<td style="text-align:left">delight </td>
<td style="text-align:left"></td>
<td style="text-align:left">keyif, sevinç</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">x</td>
<td style="text-align:left"></td>
<td style="text-align:left">x</td>
</tr>
<tr>
<td style="text-align:left">x</td>
<td style="text-align:left"></td>
<td style="text-align:left">x, x</td>
<td style="text-align:left"></td>
<td style="text-align:left"></td>
<td style="text-align:left">x</td>
<td style="text-align:left"></td>
<td style="text-align:left">x x</td>
</tr>
</tbody>
</table>

