<!-- HTML Code -->
<table class="GeneratedTable">
<thead>
<tr>
<th>Şehir</th>
<th>Sıcaklık</th>
<th>Hava</th>
<th>Nem</th>
<th>Rüzgar Hızı</th>
<th>Gün Doğumu</th>
<th>Gün Batımı</th>
</tr>
</thead>
<tbody>
<tr>
<td><span class="weather-place"></span></td>
<td><span class="weather-temperature"></span></td>
<td><span class="weather-description capitalize"></span></td>
<td><span class="weather-humidity"></span></td>
<td><span class="weather-wind-speed"></span></td>
<td><span class="weather-sunrise"></span></td>
<td><span class="weather-sunset"></span></td>
</tr>
</tbody>
</table>

