
<html>
<head>
<meta charset="utf-8">
<title>Simple Pagination with CSS3</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/paginate.css">
</head>
<body>

<div class="light">

    <div class="paginate wrapper"><!-- The "wrapper" is just a comestic addition. You don't need this for the pagination to work. -->
        <ul>
            <li><a href="">&lang;</a></li>
            <li><a href="">1</a></li>
            <li><a href="" class="inactive">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="" class="active">4</a></li>
            <li><a href="">5</a></li>
            <li><a href="" class="more">&hellip;</a></li>
            <li><a href="">98</a></li>
            <li><a href="">99</a></li>
            <li><a href="">100</a></li>
            <li><a href="">&rang;</a></li>
        </ul>
    </div>

</div>

</body>
</html>
