<style>
span {
    color:blue;
    cursor:pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<p>Show page <span onclick="show('Page1');">\1/</span>, <span onclick="show('Page2');">\2/</span>, <span onclick="show('Page3');">\3/</span>.
</p>

<div id="Page1" class="page" style="display:none">
	{% include content.html %}
</div>
<div id="Page2" class="page" style="display:none">
    	{% include content_page2.html %}
</div>
<div id="Page3" class="page" style="display:none">
        {% include content_page3.html %}
</div>

<div id="Page3" class="page" style="display:none">
        {% include content_page4.html %}
</div>
