
<style>
span {
    color:blue;
    cursor:pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<link rel="stylesheet" href="/css/paginate.css">


<div class="light">
    <article class="doc">
        <h1 class="title">Simple Pagination with CSS3</h1>
        
    </article>
    <div class="paginate wrapper"><!-- The "wrapper" is just a comestic addition. You don't need this for the pagination to work. -->
        <ul>
            <li><a>&lang;</a></li>
            <li><a><span onclick="show('Page6');">1</span></a></li>
            <li><a><span onclick="show('Page4');">2</span></a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
            <li><a>5</a></li>
            <li><a>6</a></li>
            <li><a>7</a></li>
            <li><a class="more">&hellip;</a></li>
            <li><a>78</a></li>
            <li><a>79</a></li>
            <li><a>80</a></li>
            <li><a>&rang;</a></li>
        </ul>
    </div>

</div>

<div id="Page1" class="page" style="display:none">
	{% include content.html %}
</div>
<div id="Page2" class="page" style="display:none">
    	{% include content_page2.html %}
</div>
<div id="Page3" class="page" style="display:none">
        {% include content_page3.html %}
</div>

<div id="Page4" class="page" style="display:none">
        {% include content_page4.html %}
</div>

<div id="Page5" class="page" style="display:none">
        {% include content_page5.html %}
</div>
<div id="Page6" class="page" style="display:none">
        {% include content_page6.html %}
</div>
