
{% if page.lang == 'tr' %}
{% assign months = "Ocak|Şubat|Mart|Nisan|Mayıs|Haziran|Temmuz|Ağustos|Eylül|Ekim|Kasım|Aralık" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}
<p class="meta"><i class="far fa-clock"></i>&nbsp;{{ day }} {{ month }} {{ year }} - Türkiye</p>
{% elsif page.lang == 'en' %}
<p class="meta"><i class="far fa-clock"></i>&nbsp;{{ page.date | date_to_string }} - Turkey</p>
{% endif %}

<div align="right">
<a href="{{ site.baseurl }}/" title="Home"><i class="fas fa-home fa-1x " aria-hidden="true" style="color:gray;"></i></a></div>
<hr>
<br>
