<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr-TR">
<head>
   <meta charset="utf-8">
   <title>Günlük Blog Yazıları - Teknik Çeviriler, Programlama Dilleri ile ilgili yazılar</title>
   <meta name="Kişisel Günce" CONTENT="Programlama Dilleri ile ilgili Yazı Çevirileri">
   <meta name="robots" content="index,follow">
   <meta name="author" content="Vedat Demir" />
   <meta name="readability-verification" content="e3fb0316180ffe5e0e35411b93161b5083c1b0e7"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />

   <!-- Typekit -->
   <script src="https://use.typekit.com/jpd0pfm.js"></script>
   <script>try{Typekit.load();}catch(e){}</script>
   <meta name="yandex-verification" content="b642748cb18cbd1c" />
   <meta name="google-site-verification" content="zFuwF6tlf7YemTRN-ZOvl5lG1rjuI9qEomPbr_5vAu8" />
</head>
<body>

<!-- ClickTale Top part -->
<script>
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Günce</a>
    <!--<a class="extra" href="/">2015</a>
    <a href= "mailto:evlenmekistiyorum@yandex.com">vedat@pisilinux.org</a>-->
    <a href="/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://avatars1.githubusercontent.com/u/7329803?v=3&s=99" alt=""/></a>
  </div>
<a name="raptors"></a>
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Vedat Demir
        <br />
          <a href="https://www.pisilinux.org">Pisi Linux</a>
          <a href="https://github.com/pisilinux">GitHub</a>
        <br />
        vedat@pisilinux.org
      </p>
    </div>
    <div class="contact">
        <a href="/">
            <img src="/images/home-jump.png" alt="" style="border-width:0; margin:1px 0px;width:35px;height:35px"  alt="Home"/>
        </a>
        <a href="#raptors">
        <img src="/images/arrow-up.png" alt="" style="border-width:0; margin:1px 0px;width:35px;height:35px" alt="Page Up" />
        </a>
        <!--<a href="/">
        <img src="/images/heckert_gnu.small.png" alt="" style="border-width:0; margin:1px 0px" />-->
      </a>
      <a href="https://www.youtube.com/channel/UCghWuRqdO-HXsxRxBn4dHHQ/videos">
        <img src="/images/youtube_logo_black.png" alt="" style="border:0;width:35px;height:35px" />
      </a>
      <a href="https://feeds.feedburner.com/github/hxLf">
        <img src="/images/black-white-rss.png" alt="Subscribe to RSS Feed" style="border:0;width:35px;height:35px"/>
      </a>
      <a href="https://github.com/vdemir">
        <img src="/images/github-logo.png" alt="" style="border:0;width:51px;height:45px" />
      </a>
      <a href="https://jigsaw.w3.org/css-validator/validator?uri=vdemir.github.io">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
      </a>
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.tr"><img alt="Creative Commons License" style="border-width:0; margin:1px 1px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
      </a>
    </div>
    </div>
</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script>
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='https://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script>
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "https://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->


</body>
</html>
