<!DOCTYPE html>

<html lang="tr">

<head>

   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Günlük Blog Yazıları - Teknik Çeviriler, Programlama Dilleri ile ilgili yazılar</title>
   <meta name="Kisisel_Gunce" CONTENT="Programlama Dilleri ile ilgili Yazi Cevirileri">
   <meta name="robots" content="index,follow">
   <meta name="author" content="Vedat Demir" >
   <meta name="readability-verification" content="e3fb0316180ffe5e0e35411b93161b5083c1b0e7">

   {% if site.google.verify %}<!-- Webmaster Tools verfication -->
   <meta name="google-site-verification" content="{{ site.google.verify }}" >{% endif %}
   {% if site.bing-verify %}<meta name="msvalidate.01" content="{{ site.bing-verify }}">{% endif %}
   {% if site.yandex-verify %}<meta name="yandex_site_verification" content="{{ site.yandex-verify }}">{% endif %}
   
   
{% include CSS.html %}
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen" >

   <!-- Typekit -->
   <script src="https://use.typekit.com/jpd0pfm.js"></script>
   <script>try{Typekit.load();}catch(e){}</script>
   <!-- Paging --> 
   <script src="{{ site.baseurl }}/scripts/paging.js"></script>
   <!-- Cookie --> 
   <script src="{{ site.baseurl }}/scripts/cookie.js"></script>
</head>
<body>
<!-- ClickTale Top part -->
<script>
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<p id="raptors"></p>
<div class="site">
  <div class="title">
    <a href="/">Günce</a>
    <!--<a class="extra" href="/">2015</a>
    <a href= "mailto:evlenmekistiyorum@yandex.com">vedat@pisilinux.org</a>-->
    <a href="/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://avatars1.githubusercontent.com/u/7329803?v=3&s=99" alt=""></a>
  </div>
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Vedat Demir
        <br>
          <a href="https://www.pisilinux.org">Pisi Linux</a>
          <a href="https://github.com/pisilinux">GitHub</a>
        <br>
        vedat@pisilinux.org
      </p>
    </div>
    <div class="contact">
        <a href="/">
            <img src="{{ site.baseurl }}/images/home-jump.png"  style="border-width:0; margin:1px 0px;width:35px;height:35px"  alt="Home"/>
        </a>
        <a href="#raptors">
        <img src="{{ site.baseurl }}/images/arrow-up.png"  style="border-width:0; margin:1px 0px;width:35px;height:35px" alt="Page Up" />
        </a>
        <!--<a href="/">
        <img src="/images/heckert_gnu.small.png"  style="border-width:0; margin:1px 0px" />
      </a>-->
      <a href="https://www.youtube.com/channel/UCghWuRqdO-HXsxRxBn4dHHQ/videos">
        <img src="{{ site.baseurl }}/images/youtube_logo_black.png" alt="" style="border:0;width:35px;height:35px" >
      </a>
      <a href="https://feeds.feedburner.com/github/hxLf">
        <img src="{{ site.baseurl }}/images/rss_black.png" alt="Subscribe to RSS Feed" style="border:0;width:35px;height:35px">
      </a>
      <a href="https://github.com/vdemir">
        <img src="{{ site.baseurl }}/images/github-logo.png" alt="" style="border:0;width:35px;height:35px" >
      </a>
      <a href="https://jigsaw.w3.org/css-validator/validator?uri=vdemir.github.io">
        <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" >
      </a>
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.tr"><img alt="Creative Commons License" style="border-width:0; margin:1px 1px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" >
      </a>
    </div>
    </div>
</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script>
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='https://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<script>
<!-- Begin
document.write("You are here for <b>" + amt() + " times.")
// End -->
</script>
<input type="button" onclick="DeleteCookie('count')" value="Reset Cookies"/>
</body>
</html>
