<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Vedat Demir" />
   <link href="http://feeds.feedburner.com/vdemirr" rel="alternate" title="Vedat Demir" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">Vedat Demir</a>
    <a class="extra" href="http://github.com/vdemir">Pisi Linux Developer</a>
    <a href= "mailto:vedat@pisilinux.org">vedat@pisilinux.org</a>
    <a href="/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://avatars1.githubusercontent.com/u/7329803?v=3&s=99" alt=""/></a>
  </div>

  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        <br />
          <!--<a href="https://codestarter.org/">Codestarter</a>,-->
          <!--<a href="https://github.com/">GitHub</a>-->
        <br />
      </p>
    </div>
    <div class="contact">
        <a href="/">
        <img src="/images/7329803.png" alt="" />
      </a>
        <a href="https://www.gnu.org">
        <img src="/images/heckert_gnu.small.png" alt="" />
      </a>
        <a href="https://www.kernel.org">
        <img src="/images/512px-Tux.png" alt="" />
      </a>
        <a href="https://pisilinux-web.github.io/">
        <img src="/images/linux-inside.png" alt="" />
      </a>
      <a href="https://www.youtube.com">
        <img src="/images/youtube-logo.png" alt="" />
      </a>
      <a href="https://github.com/pisilinux">
        <img src="/images/github-logo.png" alt="" />
      </a>
      <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.tr"><img alt="Creative Commons License" style="border-width:0; margin:7px 0px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
      </a>
      <a href="/"><img src="http://s07.flagcounter.com/count/V0r0/bg_FFFFFF/txt_828282/border_FFFFFF/columns_1/maxflags_3/viewers_3/labels_0/pageviews_0/flags_0/percent_0/" alt="" border="0">
      </a>
    </div>
    <!--<div class="rss">
      <a href="http://feeds.feedburner.com/vdemirr">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>-->
  </div>
</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
