---
layout: default
---

{{ content }}


  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
<a title="free web stats" href="https://statcounter.com/"
target="_blank"><img
src="https://c.statcounter.com/11597086/0/718ab69a/1/" alt="free
web stats" ></a>
<a href="https://statcounter.com/p11597086/?guest=1">View My
Stats</a>
