---
layout: default
---

{{ content }}


  <h2>İlgili İçerikler</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


<!-- Start of Counter Code --><a href="https://info.flagcounter.com/naOj"><img src="https://s05.flagcounter.com/count/naOj/bg_FFFFFF/txt_000000/border_CCCCCC/columns_5/maxflags_12/viewers_3/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
<!-- End of Counter Code -->
