---
layout: default
---

<br>
<div class="post">
<h1>Tag: {{ page.tag }}</h1>
<ul>
{% for post in site.tags[page.tag] %}
  <li><a href="{{ post.url }}" style="text-decoration: none; color:#388E3C; cursor:pointer">{{ post.title }}</a> 

{% if page.lang == 'tr' %}
{% assign months = "Ocak|Şubat|Mart|Nisan|Mayıs|Haziran|Temmuz|Ağustos|Eylül|Ekim|Kasım|Aralık" | split: "|" %}
{% assign m = page.date | date: "%-m" | minus: 1 %}
{% assign day = page.date | date: "%d" %}
{% assign month = months[m] %}
{% assign year = page.date | date: "%Y" %}
<p class="meta">{{ day }} {{ month }} {{ year }} - Türkiye</p>

{% elsif page.lang == 'en' %}
({{ post.date | date_to_string }}){% endif %}<br>
    {{ post.description }}
  </li>
{% endfor %}
</ul>
</div>
<br>
<hr>
<br>
{% include archive.html %}
